.page {
  height: 100px;
  width: 100%;
  background: #151515;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.content_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.content p {
  color: #8888;
  font-size: medium;
}
@media screen and (max-width: 940px) {
  .content p {
    font-size: xx-small;
  }
}
